body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.75rem;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(125, 189, 244);
}

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.page-title {
  text-align: center;
}
