/* general */
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.75rem;
}
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(125, 189, 244);
}

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.page-title {
  text-align: center;
}
/* /general */

/* header */

.header__block {
  display: flex;
  justify-content: flex-start;
  row-gap: 1rem;
}

.header__block__avatar {
  margin: 0 .75rem .75rem 0;
  background-image: url('../images/avatar.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
  border-radius: 5%;
}

.header__block__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* /header */

/* main */
.hero__block {
  display: grid;
  grid-template-columns: 1.75fr 1fr;
}

.hero-block-left {
  position: relative;
  margin: 1.5rem 1.75rem;
}

.hero-block-left  > svg {
  position: absolute;
  left: -1.75rem;
  top: .1rem;
  max-width: 1.25rem;
  color: black;
}

.hero-block-left-title,
.hero-block-right-title {
  margin-bottom: .5rem;
}
/* hero-left */
.hero-left-list > li {
  margin: .75rem 0;
}

#courses-date,
.hero__block-left__education-desc,
.hero__block-left__pet-projects-list__item-desc {
  color: grey;
  opacity: .65;
}

.hero__block-left__pet-projects-list__item-desc span {
  color: rgb(53, 53, 53);
  opacity: 1;
}
/* /hero-left */

/* hero-right */
.hero__block-right__skills {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.hero__block-right__skills-title {
  text-align: center;
  margin: 0;
  padding: 0;
}

.hero__block-right__table {
  margin: 0;
  padding: 0;
}

#skills-table {
  border: 1px solid #ddd;
}
#skills-table th {
  background-color: rgb(125, 189, 244);
}
#skills-table tr:nth-child(even){
  background-color: #f2f2f2;
}
#skills-table tr:hover {
  background-color: #ddd;
}

/* /hero-right */
/* /main */

/* footer */
footer {
  background-color: rgb(125, 189, 244);
}

.footer-text {
  text-align: left;
  font-weight: bold;
}
/* /footer */